.conteudo{
	background: blue;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}
.clear{
	/*
	opções do clear: left, right, both or none;
	 */
	clear: left; 
}
#principal{
	border: 1px solid red;
	background: green;
}
/*
	.conteudo-zero{
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
}

.conteudo1{
	background: red;
	border: 1px solid gray;
	width: 200px;
	height: 200px;
	margin: 10px;
	float: left;
}
*/